@import '../../../styleGuide/variable.scss';

.posts {
  background-color: $textColor;
  color: $textColor;
  flex: 1 0 auto;
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
  margin: 30px auto;
  width: 60%;
}

.post {
  background-color: $clrBackground;
}